<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848437670079-9vhdc19r25d2jp35e2qkg7vkd6so7do8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848437670079-9vhdc19r25d2jp35e2qkg7vkd6so7do8</string>
	<key>API_KEY</key>
	<string>AIzaSyCHvMwyGqpwKkzK_2sYQn84RU5IlSLD65g</string>
	<key>GCM_SENDER_ID</key>
	<string>848437670079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yacheng.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-870b4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-870b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848437670079:ios:ff0179b83515dbf2a0d60a</string>
</dict>
</plist>